:root {
  --display-details: none;
}

.top10 tr:first-child {
    font-weight: bold;
}

.top10 td {
    font-size: large;
}

.top10 td:first-child {
    width: 8em;
}

.top10 td:nth-child(2) {
    width: 4.5em;
}

.top10 td:nth-child(3) {
    width: 4em;
}

.top10 td:nth-child(2),
.top10 td:nth-child(3) {
    text-align: right;
    white-space: nowrap;
}

.top10 .details {
    display: var(--display-details, none);
    font-size: medium;
}

.top10 tr:hover .details {
    display: inline-block;
}

.top10 tr:hover {
    background-color: hsl(206, 70%, 96%) !important;
}

#btn button {
    width: 5.5em;
}

#btn .text {
    margin-right: auto;
}

a.tag:hover {
    text-decoration: none;
}

.margin-top-0p25 {
    margin-top:0.25em;
}

.progress {
    margin-top: 0.3em;
}

.notification {
    max-width: 32em;
}

.input-size-2 {
    width: 5.5ex;
}

.colon {
    margin: 0.5em 0.2em;
    display:inline-block;
    font-weight: bold;
}

#time-input {
    display: none;
}
