table tr:first-child {
    font-weight: bold;
}

table td {
    font-size: large;
}

table td:nth-child(2),
table td:nth-child(3) {
    text-align: right;
}

a.tag:hover {
    text-decoration: none;
}

.margin-top-0p25 {
    margin-top:0.25em;
}

.progress {
    margin-top: 0.3em;
    width: 10em;
}

.notification {
    max-width: 32em;
}
