:root {
  --display-details: none;
}

.theme-label {
    display: inline-block;
    padding-top: 0.5em;
    margin-right: 0.7em;
}

.top10 tr:first-child {
    font-weight: bold;
}

.top10 td {
    font-size: large;
}

.top10 th:nth-child(3) {
    font-size: large;
    font-weight: normal;
    padding-left: 0px;
}

.top10 td:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 6em;
}

.top10 th:nth-child(2),
.top10 td:nth-child(2) {
    padding-right: 0px;
    width: 4em;
}

.top10 td:nth-child(3) {
    width: 1em;
}

.top10 td:nth-child(2),
.top10 th:nth-child(3),
.top10 td:nth-child(3) {
    text-align: right;
    white-space: nowrap;
}

.top10 .details {
    display: var(--display-details, none);
    font-size: medium;
}

.top10 tr:hover .details {
    display: inline-block;
}

#stats .top10 tbody tr:hover td {
    background-color: hsl(206, 70%, 96%);
}

#btn button {
    width: 5.5em;
}

#btn .text {
    margin-right: auto;
}

a.tag:hover {
    text-decoration: none;
}

.margin-top-0p25 {
    margin-top:0.25em;
}

.progress {
    margin-top: 0.3em;
}

.notification {
    max-width: 32em;
}

.input-size-2 {
    width: 5.5ex;
}

.colon {
    margin: 0.5em 0.2em;
    display:inline-block;
    font-weight: bold;
}

#time-input {
    display: none;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid hsl(217, 71%, 53%); /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin-left: 1.5em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
