<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Stats</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='chatstats.css') }}">
  <link rel="stylesheet" id="theme-link" href="/static/themes/light.css">
</head>

<body>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='chatstats.js') }}"></script>
{% block script %}{% endblock %}
</body>

</html>
