{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <br>
    <div class="has-text-right"><a class="tag is-medium" href="{{ url_for('exit') }}">Exit&nbsp;<button class="delete"></button></a></div>
    <h1 class="title">Chat Stats</h1>
    <h2 class="subtitle" id="subtitle">{{ url }}</h2>
    {%- if locked: %}
    <div class="notification is-warning is-light" id="notification_warning">
      <button class="delete" onclick="hide_notification('warning')"></button>
      <strong>Warning:</strong> There is a running download process with the url<br>
        {{ url }}<br>
        Please wait until the download is finished or terminate it by pressing the exit button.
    </div>
    {%- endif %}
    {%- if broadcast_type == 'livestream': %}
    <div class="notification" id="notification_info">
      <button class="delete" onclick="hide_notification('info')"></button>
      Press <em>Start</em> and <em>Stop</em> to get a <strong>ranking of the most frequent<br>
        chat messages</strong> of the given stream in that period of time.<br>
        Duplicate messages from the same author are ignored.
    </div>
    <div id="btn"><button class="button is-success" onclick="start()">Start</button></div>
    <br>
    {%- endif %}
    <div id="stats"></div>
  </div>
{% endblock %}

{% block script %}
<script>
function init() {
  fetch_title('{{ url }}');
  {%- if broadcast_type == 'past_broadcast': %}
  start('past_broadcast');
  {%- endif %}
}
if (document.readyState === 'loading') {  // Loading hasn't finished yet
  document.addEventListener('DOMContentLoaded', init);
} else {  // `DOMContentLoaded` has already fired
  init();
}
</script>
{% endblock %}
