{% extends 'base.html' %}

{%- block content %}
  <div class="container">
  {%- if status == "OK": %}
    <br>
    <div class="has-text-right">
        <span class="theme-label">Theme:</span><div class="select mr-3"><select id="theme-select" onchange="change_theme()"><option value="light">Light</option><option value="dark">Dark</option><option value="familyfeud">Family Feud</option></select></div>
        <button class="button is-light is-info" onclick="document.getElementById('help').classList.add('is-active')"><span class="icon"><i class="bi bi-question-circle"></i></span><span>Help</span></button>&nbsp;&nbsp;&nbsp;
        <button class="button is-light is-info" onclick="document.getElementById('settings').classList.add('is-active')"><span class="icon"><i class="bi bi-gear"></i></span><span>Grouping Options</span></button>&nbsp;&nbsp;&nbsp;
        <a class="button is-light is-danger" href="{{ url_for('exit') }}"><span class="icon"><i class="bi bi-x-circle"></i></span><span>Exit</span></a></div>
    <h1 class="title">Chat Stats</h1>
    <h2 class="subtitle" id="subtitle">{{ message }}</h2>
    {%- if locked: %}
    <div class="notification is-warning is-light" id="notification_warning">
      <button class="delete" onclick="hide_notification('warning')"></button>
      <strong>Warning:</strong> There is a running download process with the url<br>
        {{ url }}<br>
        Please wait until the download is finished or terminate it by pressing the exit button.
    </div>
    {%- endif %}
    {%- if broadcast_type == 'livestream': %}
    <div id="btn"><button class="button is-success" onclick="start()"><span class="icon"><i class="bi bi-play-circle"></i></span><span class="text">Start</span></button></div>
    <br>
    {%- endif %}
    <div id="stats"></div>
    <div class="modal" id="settings">
      <div class="modal-background" onclick="document.getElementById('settings').classList.remove('is-active')"></div>
      <div class="modal-card">
        <form action="javascript:void(0);">
        <header class="modal-card-head">
          <p class="modal-card-title">Grouping Options</p>
          <button class="delete" onclick="document.getElementById('settings').classList.remove('is-active')"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Show all group members</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="show_members" value="yes" onclick="show_group_members('yes')">
                yes
              </label>
              <label class="radio">
                <input type="radio" name="show_members" value="no" onclick="show_group_members('no')" checked>
                no
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Case sensitivity</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="case_sensitivity" value="insensitive" checked>
                insensitive
              </label>
              <label class="radio">
                <input type="radio" name="case_sensitivity" id="radio_sensitive" value="sensitive">
                sensitive
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Maximum Levenshtein distance</label>
            <div class="control">
              <div class="select">
                <select id="max_distance">
                  <option value="0">0</option>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" onclick="document.getElementById('settings').classList.remove('is-active')">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
          <input class="button is-info" type="reset" onclick="show_group_members('no')" value="Reset">
        </footer>
        </form>
      </div>
    </div>
    <div class="modal" id="help">
      <div class="modal-background" onclick="document.getElementById('help').classList.remove('is-active')"></div>
      <div class="modal-card">
        <form action="javascript:void(0);">
        <header class="modal-card-head">
          <p class="modal-card-title">Help</p>
          <button class="delete" onclick="document.getElementById('help').classList.remove('is-active')"></button>
        </header>
        <section class="modal-card-body">
          Press <em>Start</em> and <em>Stop</em> to get a <strong>ranking of the most frequent chat messages</strong> of the given stream in that period of time.<br>
          Only the last message per user is counted.
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" onclick="document.getElementById('help').classList.remove('is-active')">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
        </footer>
        </form>
      </div>
    </div>
  {%- else %} 
    <br>
    <br>
    <h1 class="title margin-top-0p25">Chat Stats</h1>
    <div class="notification is-danger is-light"><strong>Error:</strong> {{ message }}</div>
    <a class="tag is-medium" href="{{ url_for('exit') }}">Back</a>
  {%- endif %}
  </div>
{%- endblock %}

{%- block script %}
{%- if status == 'OK' and broadcast_type == 'past_broadcast': %}
<script>
function init() {
  start('past_broadcast');
}
if (document.readyState === 'loading') {  // Loading hasn't finished yet
  document.addEventListener('DOMContentLoaded', init);
} else {  // `DOMContentLoaded` has already fired
  init();
}
</script>
{%- endif %}
{%- endblock %}
