/* Family Feud Theme */

html {
  background-color: #000000;
}

body {
  color: #b5b5b5;
}

.title {
  color: #dbdbdb;
}

.subtitle {
  color: #b5b5b5;
}

.subtitle strong {
  color: #dbdbdb;
}

#theme-select {
  background-color: #0a0a0a;
  border-color: #363636;
  color: #dbdbdb;
}

#theme-select:hover {
  border-color: #4a4a4a;
}

.modal-card-body {
  color: #4a4a4a;
}

.table {
  background-color:# 000000;
  color: #b5b5b5;
}

.table thead th,
.table tbody td {
  background-color: #000000;
  border-color: #3c3c3c;
  color: #b5b5b5;
}

.top10 td {
  font-size: x-large;
}

.top10 th:nth-child(3) {
  font-size: x-large;
}

.top10 .details {
  font-size: large;
}

.top10 tr:first-child td {
  font-weight: bold;
  color: #ffffff;
}

.top10 td:first-child {
  width: 3.5em;
}

.top10 tr:nth-child(8) td {
  border-bottom: none;
}

.top10 tr:nth-child(9),
.top10 tr:nth-child(10) {
  display: none;
}

#stats .top10 tbody tr:hover td {
  background-color: #000e2b;
}

.progress {
  height: 1.5rem;
  background-color: #000e2b;
  border: 1px #666666 solid;
  border-radius: 6px;
}

.progress.is-info::-webkit-progress-bar {
  background-color: #000e2b;
}

.progress.is-info::-webkit-progress-value {
  background-color: #155fa0;
}

.progress.is-info::-moz-progress-bar {
  background-color: #155fa0;
}

.progress.is-info::-ms-fill {
  background-color: #155fa0;
}

.progress.is-info:indeterminate {
  background-image: linear-gradient(to right, #155fa0 30%, #000e2b 30%);
}

.progress:indeterminate {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: moveIndeterminate;
          animation-name: moveIndeterminate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-color: #000e2b;
  background-image: linear-gradient(to right, #155fa0 30%, #000e2b 30%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

.progress:indeterminate::-webkit-progress-bar {
  background-color: transparent;
}

.progress:indeterminate::-moz-progress-bar {
  background-color: transparent;
}

.progress:indeterminate::-ms-fill {
  animation-name: none;
}

.button.is-info.is-light {
  background-color: #115480;
  border-color: transparent;
  color: #fff;
}

.button.is-info.is-light:hover, .button.is-info.is-light.is-hovered {
  background-color: #0d6199;
  border-color: transparent;
  color: #fff;
}

.button.is-info.is-light:focus, .button.is-info.is-light.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-info.is-light:focus:not(:active), .button.is-info.is-light.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}

.button.is-info.is-light:active, .button.is-info.is-light.is-active {
  background-color: #084066;
  border-color: transparent;
  color: #fff;
}

.button.is-danger.is-light {
  background-color: #8c1f35;
  border-color: transparent;
  color: #fff;
}

.button.is-danger.is-light:hover, .button.is-danger.is-light.is-hovered {
  background-color: #a81c39;
  border-color: transparent;
  color: #fff;
}

.button.is-danger.is-light:focus, .button.is-danger.is-light.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-danger.is-light:focus:not(:active), .button.is-danger.is-light.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}

.button.is-danger.is-light:active, .button.is-danger.is-light.is-active {
  background-color: #730d21;
  border-color: transparent;
  color: #fff;
}

.button.is-danger {
  background-color: #b3344d;
  border-color: transparent;
  color: #fff;
}

.button.is-danger:hover, .button.is-danger.is-hovered {
  background-color: #cc3151;
  border-color: transparent;
  color: #fff;
}

.button.is-danger:focus, .button.is-danger.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-danger:focus:not(:active), .button.is-danger.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.button.is-danger:active, .button.is-danger.is-active {
  background-color: #991d36;
  border-color: transparent;
  color: #fff;
}

.button.is-success {
  background-color: #37996d;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover, .button.is-success.is-hovered {
  background-color: #38b37b;
  border-color: transparent;
  color: #fff;
}

.button.is-success:focus, .button.is-success.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-success:focus:not(:active), .button.is-success.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 142, 0.25);
}

.button.is-success:active, .button.is-success.is-active {
  background-color: #288058;
  border-color: transparent;
  color: #fff;
}